In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "C:\Learn\Python\Pandas Homework\School info.csv"

In [3]:
file1 = "C:\Learn\Python\Pandas Homework\student name.csv"

In [4]:
school_df = pd.read_csv(file)
school_df = school_df.set_index("school_name")

student_df = pd.read_csv(file1)
school_group_df = student_df.groupby("school_name")

student_df["reading_passed"] = student_df["reading_score"] >= 70
student_df["math_passed"] = student_df["math_score"] >= 70

school_df["budget_per_student"] = school_df["budget"] / school_df["size"]

school_group_df = student_df.groupby("school_name")

read_avg_df =  school_group_df["reading_score"].mean()
read_avg_df.columns = ["school_read_score_avg"]

math_avg_df =  school_group_df["math_score"].mean() 
math_avg_df.columns = ["school_math_score_avg"]

school_df["school_read_avg"] = school_group_df["reading_score"].mean()
school_df["school_math_avg"] = school_group_df["math_score"].mean()

school_df["school_math_pass_count"] = student_df.loc[student_df["math_score"] >= 70].groupby("school_name")["Student ID"].count()
school_df["school_read_pass_count"] = student_df.loc[student_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count()

school_df["school_read_pass_pct"] = school_df["school_read_pass_count"] / school_df["size"] 
school_df["school_math_pass_pct"] = school_df["school_math_pass_count"] / school_df["size"]

school_df["school_overall_pass_pct"] = ( school_df["school_read_pass_pct"]  + school_df["school_math_pass_pct"]) / 2
top_school_df = school_df.sort_values (by="school_overall_pass_pct", ascending = False, inplace = False).head(5).copy()
bottom_school_df = school_df.sort_values (by="school_overall_pass_pct", ascending = True, inplace = False).head(5).copy()

In [5]:
student_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,reading_passed,math_passed
0,0,Paul Bradley,M,9th,Huang High School,66,79,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,True,True

In [6]:
school_df.head()

,School ID,type,size,budget,budget_per_student,school_read_avg,school_math_avg,school_math_pass_count,school_read_pass_count,school_read_pass_pct,school_math_pass_pct,school_overall_pass_pct
school_name,,,,,,,,,,,,
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,0.813164,0.656839,0.735002
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,0.807392,0.659885,0.733639
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,0.958546,0.938671,0.948609
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,0.808630,0.667530,0.738080
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,0.971390,0.933924,0.952657

In [7]:
merged_df = pd.merge(student_df,school_df, on="school_name", how = "left")
group_by_school_type = merged_df.groupby("type")

score_by_school_type_df = group_by_school_type.mean()[["reading_score","math_score"]]

count_by_school_type = group_by_school_type.count()["Student ID"]

reading_pass_pct_by_school_type = merged_df[ merged_df["reading_passed"]== True ].groupby("type").count()["Student ID"] / count_by_school_type
math_pass_pct_by_school_type = merged_df[ merged_df["math_passed"]== True ].groupby("type").count()["Student ID"] / count_by_school_type

score_by_school_type_df["read_pass_pct"] = reading_pass_pct_by_school_type
score_by_school_type_df["math_pass_pct"] = math_pass_pct_by_school_type
score_by_school_type_df["overall_pass_pct"] = (score_by_school_type_df["read_pass_pct"] + score_by_school_type_df["math_pass_pct"] ) / 2

score_by_school_type_df

,reading_score,math_score,read_pass_pct,math_pass_pct,overall_pass_pct
type,,,,,
Charter,83.902821,83.406183,0.966459,0.937018,0.951739
District,80.962485,76.987026,0.809052,0.665184,0.737118

In [8]:
score_by_grade = student_df.groupby( ["school_name", "grade"] ).mean() [["reading_score", "math_score"]]
print(score_by_grade.head(10))

                            reading_score  math_score
school_name          grade
Bailey High School   10th       80.907183   76.996772
                     11th       80.945643   77.515588
                     12th       80.912451   76.492218
                     9th        81.303155   77.083676
Cabrera High School  10th       84.253219   83.154506
                     11th       83.788382   82.765560
                     12th       84.287958   83.277487
                     9th        83.676136   83.094697
Figueroa High School 10th       81.408912   76.539974
                     11th       80.640339   76.884344

In [9]:
#Scores by School Spending
school_df["budget_per_student"].max()

655.0

In [10]:
#Scores by School Spending
school_df["budget_per_student"].min()

578.0

In [11]:
#Scores by School Spending
bins=[577,595,615,635,656]
groups = ["Low","good","Better","Best"]

scores_by_school_df = pd.cut(school_df["budget_per_student"], bins, labels = groups)
school_df["score_by_spending"] = scores_by_school_df

school_df

,School ID,type,size,budget,budget_per_student,school_read_avg,school_math_avg,school_math_pass_count,school_read_pass_count,school_read_pass_pct,school_math_pass_pct,school_overall_pass_pct,score_by_spending
school_name,,,,,,,,,,,,,
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,0.813164,0.656839,0.735002,Best
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,0.807392,0.659885,0.733639,Best
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,0.958546,0.938671,0.948609,good
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,0.808630,0.667530,0.738080,Best
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,0.971390,0.933924,0.952657,Better
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204,0.965396,0.938677,0.952037,Low
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803,0.970398,0.941335,0.955867,Low
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,3318,4077,0.819333,0.666801,0.743067,Better
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,395,411,0.962529,0.925059,0.943794,Low
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,910,923,0.959459,0.945946,0.952703,good
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739,0.966111,0.933333,0.949722,Low
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,2654,3208,0.802201,0.663666,0.732933,Best
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,3145,3867,0.812224,0.660576,0.736400,Best
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,1871,2172,0.792990,0.683096,0.738043,Best
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591,0.973089,0.932722,0.952905,Best

In [12]:
#Scores by School Size

school_df["size"].max()

4976

In [13]:
school_df["size"].min()

427

In [14]:
#Scores by School Size

bins=[426,2000,3500,4977]
groups1 = ["small","medium","Large"]

by_school_size_df = pd.cut(school_df["size"], bins, labels = groups1)
school_df["by_school_size_df"] = scores_by_school_df

school_df

,School ID,type,size,budget,budget_per_student,school_read_avg,school_math_avg,school_math_pass_count,school_read_pass_count,school_read_pass_pct,school_math_pass_pct,school_overall_pass_pct,score_by_spending,by_school_size_df
school_name,,,,,,,,,,,,,,
Huang High School,0,District,2917,1910635,655.0,81.182722,76.629414,1916,2372,0.813164,0.656839,0.735002,Best,Best
Figueroa High School,1,District,2949,1884411,639.0,81.158020,76.711767,1946,2381,0.807392,0.659885,0.733639,Best,Best
Shelton High School,2,Charter,1761,1056600,600.0,83.725724,83.359455,1653,1688,0.958546,0.938671,0.948609,good,good
Hernandez High School,3,District,4635,3022020,652.0,80.934412,77.289752,3094,3748,0.808630,0.667530,0.738080,Best,Best
Griffin High School,4,Charter,1468,917500,625.0,83.816757,83.351499,1371,1426,0.971390,0.933924,0.952657,Better,Better
Wilson High School,5,Charter,2283,1319574,578.0,83.989488,83.274201,2143,2204,0.965396,0.938677,0.952037,Low,Low
Cabrera High School,6,Charter,1858,1081356,582.0,83.975780,83.061895,1749,1803,0.970398,0.941335,0.955867,Low,Low
Bailey High School,7,District,4976,3124928,628.0,81.033963,77.048432,3318,4077,0.819333,0.666801,0.743067,Better,Better
Holden High School,8,Charter,427,248087,581.0,83.814988,83.803279,395,411,0.962529,0.925059,0.943794,Low,Low
Pena High School,9,Charter,962,585858,609.0,84.044699,83.839917,910,923,0.959459,0.945946,0.952703,good,good
Wright High School,10,Charter,1800,1049400,583.0,83.955000,83.682222,1680,1739,0.966111,0.933333,0.949722,Low,Low
Rodriguez High School,11,District,3999,2547363,637.0,80.744686,76.842711,2654,3208,0.802201,0.663666,0.732933,Best,Best
Johnson High School,12,District,4761,3094650,650.0,80.966394,77.072464,3145,3867,0.812224,0.660576,0.736400,Best,Best
Ford High School,13,District,2739,1763916,644.0,80.746258,77.102592,1871,2172,0.792990,0.683096,0.738043,Best,Best
Thomas High School,14,Charter,1635,1043130,638.0,83.848930,83.418349,1525,1591,0.973089,0.932722,0.952905,Best,Best